/*******************************************
           GENERAL
********************************************/
body { 
	font-family: 'Open Sans', 'sans-serif';
	font-size: 14px;
	line-height: 1.6;
    margin: 0;
    padding: 0;	
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

/* Header */

.main-header {
	display: flex;
	flex-direction: column;
	border-bottom: 4px solid gray;
	overflow: hidden;
	padding-bottom: 10px;
	text-align: center;	
}

#logo {
	font-size: 4.8em;
	color: #fff;
	font-family: 'Changa One', 'cursive';
	text-shadow: 1.5px -1.5px 1px #ffa64d;   
}

.name {
	color: gray;
	font-size: 3em;
	font-weight: normal;
	margin: 0;	
	}
	
.title {
	font-size: 2em;
	font-weight: normal;
	margin: 0;	
	}
	
/* Footer */

.main-footer {
	padding: 1em 0;
	clear: both;
	text-align: center;	
}

.main-footer p {
	text-align: center;	
	color: gray;
	font-size: 1em;
}
	
/* Content */

h3 {
   font-size: 2.5em;
   margin: 10px 20px 0;
   font-weight: normal;
   color: gray;
   text-align: left;
       
}

.project {
	color: #000;
	text-align: center;
	font-size: 2em;
	margin-top: -5px;
}

.para {
	text-align: center;
	font-size: 1.5em;
	margin-top: -25px;	
}

.para a {
	color: gray;
}

.wrap {
	margin-left: 1em;
	margin-right: 1em;
}

.portfolio {
	display: flex;
	flex-direction: column;
	
}

.banner {
	margin-top: 15px;
	padding-top: 25px;	
}

@media screen and (min-width: 768px) {
	.main-header {
		display: flex;
		flex-direction: column;	
	}
	
    .name {
		font-size: 4.2em;	
	}
	
	.wrap {
	  margin-left: 0;
	  margin-right: 0;
}
	.portfolio {
		flex-flow: row-wrap;	    		
	}
	
	.portfolio > div {
	  margin: 5px; 
	  
   }
	
  .project {
	  font-size: 3em;
  } 
  
  .main-footer p {
	 font-size: 1.2em; 
  }
  
}

@media screen and (min-width: 1024px) {
    .main-header {
		flex-direction: row;
		justify-content: space-between;	
	}
   
   .portfolio {
       display: flex;
	   flex-direction: row;   
   }
   
  .wrap {
	max-width: 90%;
	margin-left:  auto;
    margin-right:  auto;
    margin-bottom: 0;
    margin-top: 30px;
	padding-top: 20px;
 }
    
}